* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 20px;
}

h3 {
    text-align: right;
    margin: 10px 0;
}

.section{
    float: left;
    border: 2px solid black;
    min-height: 25vh;
}

@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;        
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width:767px) {
    .col-sm-12 {
        width: 100%;
    min-height: auto;    }
}


