* {
    box-sizing: border-box;
}

.row {
    width: 100%;
}

@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        background-color: aqua;
        float: left;
    }
    
}

@media (min-width:768px) and (max-width:991px) {
    
}

@media (max-width:767px) {
    
}


