@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
}
h1 {
    text-align: center;
    margin: 20px auto;
}
.container {
    position: relative;
    min-height: 250px;
    border: 1px solid black;
    background-color: #cfcfcf;
}
.section{
    float: left;
    padding: 10px;
}
h3 {
    position: absolute;
    right : 0;
    border: 1px solid black;
    padding: 5px 30px;
    margin: 0;
}
p {
    margin: 50px 20px 20px 20px;
}
@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;     
    }
}
@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (max-width:767px) {
    .col-sm-12 {
        width: 100%;
    }
}


